{% extends "webcms/base.html" %}
{% load static %}

{% block title %}{{ business.name_of_business }}-About{% endblock %}


{% block landing %}
    <div class="landing" id="about-landing">
        <!-- <video src="media/vid.mp4"
               autoplay="true">
        </video> -->

        <div class="text">
            <h1>About Us</h1>
            <p>
                Ai powered restaurant<br/>
                innovation fast delivery
            </p>
            <button>Send a Message</button>
        </div>

    </div>
{% endblock %}

{% block content %}

    <!-- Success story section -->
    <div class="text-box full">
        <h1>Who we Are - About Us</h1>
        <p>
            Fable Tech. Global Services Limited is a company, founded in Minna, Niger state of Nigeria. 
            We are a team of experts in the core areas of programming, web development, digital marketing, and business applications. Our expertise supports you from creating a powerful and engaging application/website to reach out to your audience via digital marketing and support you in each of the phases of business. We create a simple, corporate, affordable, effective, and manageable website with our dedicated team of experts in the web development sectors. Our team is proficient to deliver quick and quality solutions. We offer creative and innovative solutions to our clients through a process that is the most developed and effective means of conducting business. We provide solutions for our clients to better serve their customers, create new products and services, become a full functioning operation, streamlining operations, and pulling all areas together to create a smooth success.
            We believe in delivering exceptional Customer Service aiming to form long-lasting professional relationships with our clients and to help their businesses grow to reach their full potential. 
        </p>

        <p>
            We specialize in building custom-made & functional websites, affordable hosting, stylish and impressionable logo and graphic designs, company branding, social media marketing, domain registration, email integration, general support, maintenance, and much more.
            We also offer unique design packages with great savings and other affordable designs.
        </p>
        
    </div>

    <!-- Mission section -->
    <div class="section">
        <h1>Mission</h1>

        <div class="narrative">

            <div class="text-box">
                <h2>Why we do what we do</h2>
                <p>
                    Our mission is to provide cost-effective, reliable energy solutions and durable technology products, 
                    while developing innovative software that enhances our clients' operational efficiency and digital presence. 
                    We aim to simplify life and business by offering customized solutions that cater to a diverse range of needs.

                </p>
            </div>

            <div class="img-box">
                <img src="{% static 'img/solarart.png' %}" />
            </div>

        </div>

    </div>

    <!-- Vision section -->
    <div class="section">
        <h1>Vision</h1>

        <div class="narrative">

            <div class="img-box">
                <img src="{% static 'img/solarart2.jpg' %}" />
            </div>


            <div class="text-box">
                <h2>What drives us</h2>
                <p>
                   From the outset, we understood that energy is the lifeblood of every home and business, while technology fuels growth and efficiency. 
                   That’s why we set out to create sustainable energy solutions that empower individuals and businesses to take control of their energy consumption, reduce costs, and contribute to a greener future. 
                   In parallel, we envisioned providing top-tier computer systems and cutting-edge software development to ensure our clients are always ahead of the curve in today’s fast-paced, digital world.
                </p>
            </div>

            
        </div>

    </div>

    <!-- Our team section -->
    <div class="section">
        <h1>Our Team</h1>

        <div class="container" >

            <div class="item project2">
                <img src="{% static 'img/halima.jpg' %}" />
                <h3 style="color: darkgreen;" >Halima Ummi</h3>
            </div>

            <div class="item project2">
                <img src="{% static 'img/aisha snugshot.jpg' %}" />
                <h3 style="color: darkgreen;" >Aisha Dadda</h3>
            </div>

            <div class="item project2">
                <img src="../img/aisha snugshot.jpg" />
                <h3  style="color: darkgreen;" >Akintola Victor</h3>
            </div>

        </div>

    </div>

    <!--Contact section -->
    <div class="section">
        <h1>Contact Us</h1>

        <div class="contact-map-container">
            <div class="contact-map-details">
                <h2 style="margin-top: 0;">Reach Out Now</h2>
                <h3>Address</h3>
                <p>{{ business.address_of_business }}</p>

                <h3>Phone</h3>
                <p>(+234) {{ business.phone_of_business }} <br/>(+234) {{ business.phone_of_business }}</p>

                <h3>Email</h3>
                <p>{{ business.email_of_business }}<br/>{{ business.email_of_business }}</p>

                <a href="tel:{{ business.phone_of_business }}" ><button style="margin-top: 30px; width: 160px;">Call Now</button></a>

            </div>

            <div class="contact-map-box">
                <div id="map">
                </div>
                <iframe src="{{ business.maplink }}"
                    width="100%"
                    height="450px"
                    style="border:0; margin: auto;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </div>

        <div class="contact-container">
            <div class="contact-items ctext">
                <h2>Let us Talk</h2>
                <p>Got something for us send us a Message
                    to get started
                </p>
            </div>
            <div class="contact-items">
                <form action="#" method="POST">
                    <input type="text" name="#" placeholder="Your name"/>
                    <input type="text" name="#" placeholder="Your phone"/>
                    <textarea>

                    </textarea>
                    <button>Send Message</button>
                </form>
            </div>
        </div>

    </div>

{% endblock %}





