{% extends "webcms/base.html" %}
{% load static %}

{% block title %}{{ business.name_of_business }} {% endblock %}



{% block landing %}
    <!-- landing section -->
    <div class="landing lnd-home">
        <!-- <video src="media/vid.mp4"
               autoplay="true">
        </video> -->

        <div class="text">
            <h1>Powering Your Life<br/>Empowering Your Future</h1>
            <p>
                Affordable energy solutions, reliable computer systems, 
                and cutting-edge software development to drive your success.
            </p>
            <button>Order Now!</button>
        </div>

    </div>
{% endblock %}

{% block content %}

    <!-- Values Section -->
    <div class="section">
        <h1>Our Services</h1>
        <div class="values_container">

            <div class="values_item">
                <div class="value_imgbox">
                    <img src="{% static 'img/icons/solar.svg' %}" />
                </div>
                <div class="values_text">
                    <h4>Energy Contractor</h4>
                    <p>We Provide affordable inverters, battery, and installation.</p>
                </div>
            </div>

            <div class="values_item">
                <div class="value_imgbox">
                    <img src="{% static 'img/icons/devices.svg' %}" />
                </div>
                <div class="values_text">
                    <h4>Computer Sales and Supply</h4>
                    <p>
                        Sales of durable,
                        accesories, and computers.
                    </p>
                </div>
            </div>

            <div class="values_item">
                <div class="value_imgbox">
                    <img src="{% static 'img/icons/terminal.svg' %}" />
                </div>
                <div class="values_text">
                    <h4>Software Development</h4>
                    <p>We develop efficient web and mobile apps for your brand.</p>
                </div>
            </div>

        </div>
    </div>

    <!-- Hot picks section -->
    <div class="section">
        <h1>New Products</h1>


        <div class="container">

            <div class="item project2">

                <img src="{% static 'img/streetlight.png' %}" />
                <div class="product-item-content">
                    <h3>Solar Streetlamps</h3>
                    <p>Durable street lamps</p>
                    <button>Order</button>
                </div>

            </div>

            <div class="item project2">

                <img src="{% static 'img/streetlight.png' %}" />
                <div class="product-item-content">
                    <h3>Solar Streetlamps</h3>
                    <p>Durable street lamps</p>
                    <button>Order</button>
                </div>

            </div>

            <div class="item project2">
                <img src="{% static 'img/streetlight.png' %}" />
                <div class="product-item-content">
                    <h3>Solar Streetlamps</h3>
                    <p>Durable street lamps</p>
                    <button>Order</button>
                </div>

            </div>

        </div>

    </div>

    <!-- Narrative -->
    <div class="narrative">

        <div class="img-box">
            <img src="{% static 'img/content.jpg' %}" />
        </div>

        <div class="text-box">
            <h1>What we do</h1>
            <p>
               Our mission is to provide cost-effective, reliable energy solutions and durable technology products, 
               while developing innovative software that enhances our clients' operational efficiency and digital presence. 
               We aim to simplify life and business by offering customized solutions that cater to a diverse range of needs.
            </p>
            <button>Read more</button>
        </div>

    </div>

    <!-- Menus section -->
    <div class="section">

        <h1>Shop</h1>

        <div class="container">

            <!-- Product Card -->
            <div class="product-card-box">

                <!-- Product image -->
                <div class="product-card-image">
                    <img src="../img/burgerimg.png"/>
                </div>

                <!-- Product meta -->
                <div class="product-card-meta">

                    <div class="product-card-price">
                        <p>Beef Burger</p>
                        <h4>2000</h4>
                    </div>

                    <div class="product-qty-controls-container">

                        <div class="product-qty-controls" >
                            <img src="{% static 'img/icons/remove.svg' %}" alt="">
                        </div>

                        <div class="product-card-box-qty">
                                <h6 class="qty">1</h6>
                        </div>

                        <div class="product-qty-controls" >
                            <img src="{% static 'img/icons/add.svg' %}" alt="">
                        </div>

                    </div>

                    

                </div>

                <button class="product-btn">Order</button>

            </div>

            <!-- Product Card -->
            <div class="product-card-box">

                <!-- Product image -->
                <div class="product-card-image">
                    <img src="../img/burgerimg.png"/>
                </div>

                <!-- Product meta -->
                <div class="product-card-meta">

                    <div class="product-card-price">
                        <p>Beef Burger</p>
                        <h4>2000</h4>
                    </div>

                    <div class="product-qty-controls-container">

                        <div class="product-qty-controls" >
                            <img src="{% static 'img/icons/remove.svg' %}" alt="">
                        </div>

                        <div class="product-card-box-qty">
                                <h6 class="qty">1</h6>
                        </div>

                        <div class="product-qty-controls" >
                            <img src="{% static 'img/icons/add.svg' %}" alt="">
                        </div>

                    </div>

                    

                </div>

                <button class="product-btn">Order</button>

            </div>

            <!-- Product Card -->
            <div class="product-card-box">

                <!-- Product image -->
                <div class="product-card-image">
                    <img src="../img/burgerimg.png"/>
                </div>

                <!-- Product meta -->
                <div class="product-card-meta">

                    <div class="product-card-price">
                        <p>Beef Burger</p>
                        <h4>2000</h4>
                    </div>

                    <div class="product-qty-controls-container">

                        <div class="product-qty-controls" >
                            <img src="{% static 'img/icons/remove.svg' %}" alt="">
                        </div>

                        <div class="product-card-box-qty">
                                <h6 class="qty">1</h6>
                        </div>

                        <div class="product-qty-controls" >
                            <img src="{% static 'img/icons/add.svg' %}" alt="">
                        </div>

                    </div>

                    

                </div>

                <button class="product-btn">Order</button>

            </div>


            <!-- Product Card -->
            <div class="product-card-box">

                <!-- Product image -->
                <div class="product-card-image">
                    <img src="../img/burgerimg.png"/>
                </div>

                <!-- Product meta -->
                <div class="product-card-meta">

                    <div class="product-card-price">
                        <p>Beef Burger</p>
                        <h4>2000</h4>
                    </div>

                    <div class="product-qty-controls-container">

                        <div class="product-qty-controls" >
                            <img src="{% static 'img/icons/remove.svg' %}" alt="">
                        </div>

                        <div class="product-card-box-qty">
                                <h6 class="qty">1</h6>
                        </div>

                        <div class="product-qty-controls" >
                            <img src="{% static 'img/icons/add.svg' %}" alt="">
                        </div>

                    </div>

                    

                </div>

                <button class="product-btn">Order</button>

            </div>




        </div>


    </div>

     <!-- Narrative -->
    <div class="narrative">

        <div class="img-box">
            <img src="{% static 'img/content.jpg' %}" />
        </div>

        <div class="text-box">
            <h1>What we do</h1>
            <p>
                       Our mission is to provide cost-effective, reliable energy solutions and durable technology products, 
               while developing innovative software that enhances our clients' operational efficiency and digital presence. 
               We aim to simplify life and business by offering customized solutions that cater to a diverse range of needs.
            </p>
            <button>Read more</button>
        </div>



    </div>

    <!-- Testimonials section -->
    <div class="section">
        <h1>Testimonials</h1>

            <!--
            <div class="testimonial">
                <div class="test-image">
                    <img src="img/engr.svg" />
                </div>

                <div class="test-txt">
                    <h3>Systems Analyst</h3>
                    <p>
                        Nice platform to choose your dream space
                    </p>
                </div>
            </div> -->

        <div class="test-container">


            <div class="tab">
                <center>
                <div class="test-img-box">
                    <div class="test-img">

                    </div>
                </div>
                <h3>Bose Oluyede</h3>
                <p>Dedicated to crafting custom-made furniture wih sustainble materials</p>
                </center>
            </div>

            <div class="tab">
                <center>
                    <div class="test-img-box">
                        <div class="test-img">

                        </div>
                    </div>
                    <h3>Abiola Joseph</h3>
                    <p>
                        Well deliver unparalleled expertise and innovation in all your projects.
                    </p>
                </center>
            </div>

            <div class="tab">
                <center>
                <div class="test-img-box">
                    <div class="test-img">

                    </div>
                </div>
                <h3>Aisha Dadda</h3>
                <p>you cater to both residential and commercial clients. </p>
                </center>
            </div>

        </div>




    </div>

    <!--Contact section -->
    <div class="section">
        <h1>Contact Us</h1>

        <div class="contact-container">
            <div class="contact-items ctext">
                <h2>Let us Talk</h2>
                <p>Got something for us send us a Message<br/>
                    to get started
                </p>
            </div>
            <div class="contact-items">
                <form action="#" method="POST">
                    <input type="text" name="#" placeholder="Your name"/>
                    <input type="text" name="#" placeholder="Your phone"/>
                    <textarea>

                    </textarea>
                    <button>Send Message</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}



