{% extends "webcms/base.html" %}
{% load static %}

{% block title %}{{ business.name_of_business }} {% endblock %}



{% block landing %}
    <!-- landing section -->
    <!-- <div class="landing lnd-home">
        <video src="media/vid.mp4"
               autoplay="true">
        </video>

        <div class="text">

            <h1>Powering Your Life<br/>Empowering Your Future</h1>
            <p>
                Affordable energy solutions, reliable computer systems, 
                and cutting-edge software development to drive your success.
            </p>
            <button>Order Now!</button>

        </div>

    </div> -->

    <div class="carousel-container">

        <div class="carousel">

            <div class="carousel_item active">

                    <img src="{% static 'img/landing.jpg' %}" alt="Image 1" />

                    <div class="landing_text">

                        <h1>Powering Your Life<br/>Empowering Your Future</h1>
                        <p>
                            Affordable energy solutions, reliable computer systems,
                            and cutting-edge software development to drive your success.
                        </p>
                        <button>Order Now!</button>

                    </div>

            </div>

            {% for content in landing %}

            <div class="carousel_item">

                <img src="{{ content.landing_image.url }}" alt="Image 1" />

                <div class="landing_text">

                    <h1>{{ content.landing_title }}</h1>
                    <p>
                        {{ content.landing_caption  }}
                    </p>
                    <button>{{ content.landing_btn_text }}</button>

                </div>

            </div>

            {% endfor %}
          

        </div>

        <div class="dots"></div>

    </div>


    <div class="carousel_btn_container">
        <button class="carousel_btn prev"> <img src="{% static 'img/back.svg' %}"  alt="prev button" /> </button>
        <button class="carousel_btn next"><img src="{% static 'img/next.svg' %}" alt="next button"/> </button>
    </div>


{% endblock %}

{% block content %}

    <!-- Values Section -->
    <div class="section">
        <h1>Our Services</h1>
        <div class="values_container">

            <div class="values_item">
                <div class="value_imgbox">
                    <img src="{% static 'img/icons/solar.svg' %}" />
                </div>
                <div class="values_text">
                    <h4>Energy Contractor</h4>
                    <p>We Provide affordable inverters, battery, and installation.</p>
                </div>
            </div>

            <div class="values_item">
                <div class="value_imgbox">
                    <img src="{% static 'img/icons/devices.svg' %}" />
                </div>
                <div class="values_text">
                    <h4>Computer Sales and Supply</h4>
                    <p>
                        Sales of durable,
                        accesories, and computers.
                    </p>
                </div>
            </div>

            <div class="values_item">
                <div class="value_imgbox">
                    <img src="{% static 'img/icons/terminal.svg' %}" />
                </div>
                <div class="values_text">
                    <h4>Software Development</h4>
                    <p>We develop efficient web and mobile apps for your brand.</p>
                </div>
            </div>

        </div>
    </div>

    <!-- New products section -->
    <div class="section">
        <h1>New Products</h1>


        <div class="container">

            {% for new_product in new_products %}

            <div class="item project2">

                <img src="{% if new_product.image %}{{ new_product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" />
                <div class="product-item-content">
                    <h3>{{ new_product.name }}</h3>
                    <p>&#x20A6 {{ new_product.price }}</p>
                     <a href="{{ new_product.get_absolute_url }}">
                         <button>Order</button>
                     </a>
                </div>

            </div>

            {% endfor %}


        </div>

    </div>

    <!-- Vision section -->
    <div class="section">
        <h1>Vision</h1>

        <div class="narrative">

            <div class="img-box">
                <img src="{% static 'img/solarart2.jpg' %}" />
            </div>


            <div class="text-box">
                <h2>What drives us</h2>
                <p>
                   From the outset, we understood that energy is the lifeblood of every home and business, while technology fuels growth and efficiency. 
                   That’s why we set out to create sustainable energy solutions that empower individuals and businesses to take control of their energy consumption, reduce costs, and contribute to a greener future. 
                   In parallel, we envisioned providing top-tier computer systems and cutting-edge software development to ensure our clients are always ahead of the curve in today’s fast-paced, digital world.
                </p>
            </div>

            
        </div>

    </div>

    <!-- Shop section -->
    <div class="section">

        <h1>Shop</h1>

                <div class="product-index-container">
                    {% for product in products %}
                    <!-- Product Card -->
                    <div class="product-card-box">

                        <!-- Product image -->
                        <div class="product-card-image-box">
                            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}"/>
                        </div>

                        <!-- Product meta -->
                        <div class="product-card-meta">

                            <div class="product-card-price">
                                <p>{{ product.name |truncatewords:5|linebreaks }}</p>
                                <h4> &#x20A6 {{ product.price }}</h4>
                            </div>

                            <div class="product-qty-controls-container">

                                <a href="{{ product.get_absolute_url }}">
                                    <div class="product-qty-controls" >
                                        <img src="{% static 'img/icons/add_to_cart.svg' %}" alt="">
                                    </div>
                                </a>

                            </div>

                        </div>

                    </div>

                    {% endfor %}
                </div>

    </div>

    <!-- Mission section -->
    <div class="section">
        <h1>Mission</h1>

        <div class="narrative">

            <div class="text-box">
                <h2>Why we do what we do</h2>
                <p>
                    Our mission is to provide cost-effective, reliable energy solutions and durable technology products, 
                    while developing innovative software that enhances our clients' operational efficiency and digital presence. 
                    We aim to simplify life and business by offering customized solutions that cater to a diverse range of needs.

                </p>
            </div>

            <div class="img-box">
                <img src="{% static 'img/solarart3.jpeg' %}" />
            </div>

        </div>

    </div>

    <!-- Testimonials section -->
    <div class="section">
        <h1>Testimonials</h1>

            <!--
            <div class="testimonial">
                <div class="test-image">
                    <img src="img/engr.svg" />
                </div>

                <div class="test-txt">
                    <h3>Systems Analyst</h3>
                    <p>
                        Nice platform to choose your dream space
                    </p>
                </div>
            </div> -->

        <div class="test-container">

            {% for testimonial in testimonials %}
            <div class="tab">
                <center>
                <div class="test-img-box">
                    <div class="test-img">
                        <img src="{% if testimonial.client_photo %}{{ testimonial.client_photo.url }} {% else %} {% static 'img/user.jpg' %} {% endif %}" />
                    </div>
                </div>
                <h3>{{ testimonial.client_name }}</h3>
                <p>{{ testimonial.testimonial_text }}</p>
                </center>
            </div>
            {% endfor %}


        </div>




    </div>

    <!-- Our values -->
    <div class="section">
        <h1>Our Values</h1>

        <div class="narrative">

            <div class="img-box">
                <img src="{% static 'img/solarart2.jpg' %}" />
            </div>


            <div class="text-box">
                <h2>What drives us</h2>
                <p>
                    Our core values shape every aspect of our work, guiding our decisions and fostering strong relationships with partners, customers, and colleagues. We prioritize leadership by striving to be the best in our industry, 
                    taking full responsibility for our actions and commitments. Customer focus is central to our mission, where listening and understanding customer needs drive us to create meaningful business value. We believe that success is shared, and our team operates as one unified global entity, One Fable Tech, where collaboration and shared goals lead to collective achievements. 

                    Innovation is a key pillar, with a proactive approach to identifying market trends and growth opportunities, supported by significant investments in cutting-edge technologies and projects. Lastly, 
                    we uphold our responsibility as a business by committing to ethical practices, supporting sustainable resource use, and promoting healthy lifestyles. We respect cultural traditions and legal standards across the countries we operate in, ensuring that our business practices align with our values of integrity and responsible stewardship.
                </p>
            </div>

            
        </div>

    </div>

    <!--Contact section -->
    <div class="section">
        <h1>Contact Us</h1>

        <div class="contact-container">
            <div class="contact-items ctext">
                <h2>Let us Talk</h2>
                <p>Got something for us send us a Message<br/>
                    to get started
                </p>
            </div>
            <div class="contact-items">
                <form action="#" method="POST">
                    <input type="text" name="#" placeholder="Your name"/>
                    <input type="text" name="#" placeholder="Your phone"/>
                    <textarea>

                    </textarea>
                    <button>Send Message</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}



