{% extends "webcms/base.html" %}
{% load static %}

{% block title %}{{ business.name_of_business }} {{ request.user.first_name|default:request.user.username }}'s-Dashboard{% endblock %}


{% block landing %}
    <div class="landing" id="shop-landing">
        <!-- <video src="media/vid.mp4"
               autoplay="true">
        </video> -->

        <div class="text">
            <h1>Welcome {{ request.user.first_name|default:request.user.username }}</h1>
            <p>
                Find the products you love <br/>
                Shop for original and quality products from our store with amazing discounts!
            </p>
            <p><a href="{% url 'password_change' %}">Change password</a> | <a href="{% url 'edit' %}">Edit account</a></p>
<!--            <button>Send a Message</button>-->
        </div>

    </div>
{% endblock %}

{% block content %}
    <!-- section -->
    <div class="section">
        <h1>Products</h1>

        <div class="shop-container">

            <div class="aside-container">

                <div class="search-box">
                    <input type="search" placeholder="Search products" />
                    <div class="icn-box">
                        <img src="{% static 'img/icons/search.svg' %}" />
                    </div>
                </div>

                <h4>Categories</h4>

                <div class="user-profile">

                    <!-- Categories -->
                    <div class="user-func">
                        <div class="icon-and-text">
                            <div class="func-icon"><img src="{% static 'img/icons/terminal.svg' %}"></div>
                            <h4>Computer accesories</h4>
                        </div>
                        <h4>(3)</h4>
                    </div>

                </div>

                <!-- <div class="related-products-container">
                    <h4>Best Deals</h4>

                    <div class="user-func">
                        <div class="icon-and-text">
                            <div class="func-icon"><img src="../img/burger.png"></div>
                            <h4>Small Chops</h4>
                        </div>
                        <h4>(3)</h4>
                    </div>

                    <div class="foodtab">

                        <div class="foodimg">
                            <img src="../img/shawarma.png"/>
                        </div>
                        <div class="foodtext">
                            <h4>Chicken Sharwarma</h4>
                            <p>$300</p>
                        </div>

                    </div>
                    <div class="foodtab">

                        <div class="foodimg">
                            <img src="../img/shawarma.png"/>
                        </div>
                        <div class="foodtext">
                            <h4>Chicken Sharwarma</h4>
                            <p>$300</p>
                        </div>

                    </div>
                </div> -->


            </div>

            <div class="container-of-containers">

                <div class="container">

                    <!-- Product Card -->
                    <div class="product-card-box">

                        <!-- Product image -->
                        <div class="product-card-image">
                            <img src="{% static 'img/h2.jpg' %}"/>
                        </div>

                        <!-- Product meta -->
                        <div class="product-card-meta">

                            <div class="product-card-price">
                                <p>Dell Laptop</p>
                                <h4>2000</h4>
                            </div>

                            <div class="product-qty-controls-container">

                                <div class="product-qty-controls" >
                                    <img src="{% static 'img/icons/remove.svg' %}" alt="">
                                </div>

                                <div class="product-card-box-qty">
                                        <h6 class="qty">1</h6>
                                </div>

                                <div class="product-qty-controls" >
                                    <img src="{% static 'img/icons/add.svg' %}" alt="">
                                </div>

                            </div>



                        </div>

                        <button class="product-btn">Order</button>

                    </div>

                    <!-- Product Card -->
                    <div class="product-card-box">

                        <!-- Product image -->
                        <div class="product-card-image">
                            <img src="{% static 'img/hp.jpg' %}"/>
                        </div>

                        <!-- Product meta -->
                        <div class="product-card-meta">

                            <div class="product-card-price">
                                <p>Hp Laptop</p>
                                <h4>2000</h4>
                            </div>

                            <div class="product-qty-controls-container">

                                <div class="product-qty-controls" >
                                    <img src="{% static 'img/icons/remove.svg' %}" alt="">
                                </div>

                                <div class="product-card-box-qty">
                                        <h6 class="qty">1</h6>
                                </div>

                                <div class="product-qty-controls" >
                                    <img src="{% static 'img/icons/add.svg' %}" alt="">
                                </div>

                            </div>



                        </div>

                        <button class="product-btn">Order</button>

                    </div>


                    <!-- Product Card -->
                    <div class="product-card-box">

                        <!-- Product image -->
                        <div class="product-card-image">
                            <img src="{% static 'img/bat.png' %}"/>
                        </div>

                        <!-- Product meta -->
                        <div class="product-card-meta">

                            <div class="product-card-price">
                                <p>Inverter Battery</p>
                                <h4>2000</h4>
                            </div>

                            <div class="product-qty-controls-container">

                                <div class="product-qty-controls" >
                                    <img src="{% static 'img/icons/remove.svg' %}" alt="">
                                </div>

                                <div class="product-card-box-qty">
                                        <h6 class="qty">1</h6>
                                </div>

                                <div class="product-qty-controls" >
                                    <img src="{% static 'img/icons/add.svg' %}" alt="">
                                </div>

                            </div>



                        </div>

                        <button class="product-btn">Order</button>

                    </div>




                </div>

            </div>

        </div>

    </div>
{% endblock %}



